## Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [2]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
    print(i,round(curr_pop,2))
    curr_pop = curr_pop/1.1

10 10000
9 9090.91
8 8264.46
7 7513.15
6 6830.13
5 6209.21
4 5644.74
3 5131.58
2 4665.07
1 4240.98

## Sequence sum

### 1/1! + 2/2! + 3/3! + ....

In [6]:
n = int(input('enter n '))

result = 0
fact = 1

for i in range(1,n+1):
    fact = fact * i
    result = result + i/fact
    
print(result)

enter n 2
2.0

# Nestes Loops

In [7]:
# Examples -> unique pairs

for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

# Pattern 1

#### * 
#### **
#### ***

In [11]:
# Code here

rows = int(input('enter number of rows : '))

for i in range(1, rows+1):
    for j in range(1, i+1):
        print('*',end='')
    print()

enter number of rows : 5
*
**
***
****
*****

# Pattern 2 

```
1
121
12321
1234321
```

In [14]:
# code here

rows = int(input('enter number of rows : '))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    
    print()

enter number of rows : 4
1
121
12321
1234321

# Loop Control statment

   * Break
   * Continue
   * Pass

In [16]:
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [17]:
lower = int(input('enter lower range : '))
upper = int(input('enter upper range : '))

for i in range(lower, upper+1):
    for j in range(2, i):
        if i%j == 0:
            break
    else:
        print(i)

enter lower range : 10
enter upper range : 100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Continue Statement

In [18]:
# Continue

for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

# Pass Statment

In [20]:
for i in range(1,10):
    pass

# Strings

Strings are sequence of characters

In Python specifically, strings are a sequence of Unicode Characters

   * Creating String
   * Accessing String 
   * Adding Chars to Strings
   * Editing Strings
   * Deleting Strings
   * Operations on Strings
   * String Functions

# Creating String

In [21]:
s = 'Hello'
print(s)

Hello

In [22]:
s = "Hello"
print(s)

Hello

In [25]:
# multi-line Strings

s = """Hello"""
print(s)

Hello

In [26]:
s = '''Hello'''
print(s)

Hello

In [27]:
s = str('hello')
print(s)

hello

In [24]:
"it's raining outside"

"it's raining outside"

# Accessing Substrings from a string

In [28]:
# Indexing 
s = 'hello world'
print(s[0])

h

In [30]:
# negative indexing

s = 'hello world'
print(s[-3])

r

In [32]:
# Slicing

s = 'hello world'
print(s[0:5])

hello

In [33]:
s = 'hello world'
print(s[2:3])

l

In [34]:
s = 'hello world'
print(s[2:])

llo world

In [35]:
s = 'hello world'
print(s[:3])

hel

In [36]:
s = 'hello world'
print(s[:])

hello world

In [37]:
s = 'hello world'
print(s[0:6:2])

hlo

In [38]:
s = 'hello world'
print(s[0:6:3])

hl

In [39]:
s = 'hello world'
print(s[6:0:-1])

w olle

In [40]:
s = 'hello world'
print(s[6:0:-2])

wol

In [41]:
print(s[::-1])

dlrow olleh

In [43]:
s = 'hello world'
print(s[-5:])

world

In [44]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

# Editing and Deleting in Strings

In [45]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: 'str' object does not support item assignment

In [46]:
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [47]:
s = 'hello world'
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

# Operations on strings

   * Arithmatic Operations
   * Relational Operations
   * Logical Operations
   * Loops on Strings
   * Membership Operations

In [48]:
print('delhi' + 'mumbai')

delhimumbai

In [49]:
print('delhi'+ ' ' +'mumbai')

delhi mumbai

In [52]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [54]:
print("*"*50)

**************************************************

In [55]:
'delhi' == 'delhi'

True

In [56]:
'delhi' != 'delhi'

False

In [57]:
'mumbai' > 'pune'
# lexiographically

False

In [58]:
'Pune' > 'pune'

False

In [59]:
'hello' and 'world'

'world'

In [60]:
'hello' or 'world'

'hello'

In [62]:
'' and 'world'

''

In [63]:
'' or 'world'

'world'

In [64]:
'hello' or 'world'

'hello'

In [65]:
'hello' and 'world'

'world'

In [66]:
not ''

True

In [67]:
not 'True'

False

In [68]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [69]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [70]:
'D' in 'Delhi'

True

In [71]:
'D' not in 'Delhi'

False

In [72]:
'D' in 'delhi'

False

# Comman Functions

   * len
   * max
   * min
   * sorted

In [73]:
len('hello world')

11

In [74]:
max('hello world')

'w'

In [75]:
min('hello world')

' '

In [76]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [77]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

# Capitalize/Title/Upper/Lower/Swapcase

In [78]:
s = 'hello world'
s.capitalize()

'Hello world'

In [79]:
s.title()

'Hello World'

In [80]:
s.upper()

'HELLO WORLD'

In [81]:
'Hello World'.lower()

'hello world'

In [82]:
'HeLlO wORld'.swapcase()

'hElLo WorLD'

# Count/Find/Index

In [83]:
'my name is nitish'.count('i')

3

In [84]:
'my name is nitish'.find('is')

8

In [85]:
'my name is nitish'.find('x')

-1

In [87]:
'my name is nitish'.index('is')

8

In [88]:
'my name is nitish'.index('x')

ValueError: substring not found

# endwith/startwith

In [89]:
'my name is nitish'.endswith('sh')

True

In [90]:
'my name is nitish'.endswith('sho')

False

In [91]:
'my name is nitish'.startswith('my')

True

In [92]:
'my name is nitish'.startswith('1my')

False

# format

In [93]:
name = 'nitish'
gender = 'male'

'Hi my name is {} and i am a {}'.format(name, gender)

'Hi my name is nitish and i am a male'

In [95]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and i am a {0}'.format(gender, name)

'Hi my name is nitish and i am a male'

In [96]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and i am a {0}'.format(name, gender)

'Hi my name is male and i am a nitish'

# isalnum/isalpha/isdigit/isidentifier

In [98]:
'nitish1234'.isalnum()

True

In [99]:
'nitish1234%'.isalnum()

False

In [100]:
'nitish1234'.isalpha()

False

In [101]:
'nitish'.isalpha()

True

In [102]:
'123'.isdigit()

True

In [103]:
'123abc'.isdigit()

False

In [104]:
'1name'.isidentifier()

False

In [105]:
'name1'.isidentifier()

True

In [106]:
'first-name'.isidentifier()

False

In [107]:
'first_name'.isidentifier()

True

# Split/Join

In [108]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [109]:
'hi my name is nitish'.split('i')

['h', ' my name ', 's n', 't', 'sh']

In [110]:
'hi my name is nitish'.split('is')

['hi my name ', ' nit', 'h']

In [111]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

In [112]:
"-".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi-my-name-is-nitish'

# replace

In [113]:
'hi my name is nitish'.replace('nitish','campusx')

'hi my name is campusx'

In [114]:
'hi my name is nitish'.replace('nitsdssjkdnkjsish','campusx')

'hi my name is nitish'

# Strip

In [115]:
'nitish                   '.strip()

'nitish'

In [116]:
# Find the length of a given string without using len() function

In [118]:
s = input('enter the string : ')

counter = 0

for i in s:
    counter += 1
    
print('length of string is',counter)

enter the string : nitish
length of string is 6

In [121]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('enter the email : ')

pos = s.index('@')
print(s[0:pos])

enter the email : shubham12345@gmail.com
shubham12345

In [122]:
# Count the frequency of a perticular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

In [123]:
s = input('enter the string : ')

term = input('what would like to search for : ')

counter = 0
for i in s:
    if i == term:
        counter += 1
        
print('frequency ',counter)

enter the string : how are you
what would like to search for : o
frequency  2

In [124]:
# Write a program which can remove a perticular character from a string.

s = input('enter the string : ')
 
term = input('what would like to remove : ')

result = ''

for i in s:
    if i != term:
        result = result + i
        
print(result)

enter the string : nitish
what would like to remove : i
ntsh

In [127]:
# Write a program that can check weather a given string is paindrome or not.

# abba
# malayalam

s = input('enter the string : ')
flag = True

for i in range(0,len(s)//2):
    if s[i] != s[len(s) - i -1]:
        flag = False
        print('Not a Palindrome')
        break
        
if flag:
    print('Palindrome')

enter the string : python
Not a Palindrome

In [132]:
# Write a program to count the number of words in a string without split()

s = input('enter a string : ')
L = []
temp = ''

for i in s:
    if i != ' ':
        temp = temp + i
    else:
        L.append(temp)
        temp = ''
L.append(temp)     
print(L)

enter a string : hi how are you
['hi', 'how', 'are', 'you']

In [137]:
# Write a python program to convert a string to title case without using title()

s = input('enter the string : ')

L = []

for i in s.split():
    L.append(i[0].upper() + i[1:].lower())
    
print(" ".join(L))

enter the string : mY naME is ShuBHAm
My Name Is Shubham

In [140]:
# Write a program that can convert an integer to string.

number = int(input('enter the number : '))

digits = '0123456789'
result = ''
while number != 0:
    result = digits[number % 10] +result
    number = number//10

print(result)
print(type(result))

enter the number : 345
345
<class 'str'>